<table class="table table-bordered">
  <tr>
    <th style="width: 80px"><%= t(:label_admin_name) %></th>
    <th style="width: 80px"><%= t(:label_site_catalog) %></th>
    <th><%= t(:label_admin_shortdesc) %></th>
    <th><%= t(:label_admin_picnum) %></th>
    <th><%= t(:label_admin_operation) %></th>
  </tr>

  <% catalog.products.each do |product| %>
    <tr>
      <td><%= product.name %></td>
      <td><%= product.catalog.name %></td>
      <td><%= product.shortdesc %></td>
      <td><%= product.images.count %></td>
      <td>
        <%= link_to 'Show', product %>
        <%= link_to 'Edit', edit_product_path(product) %>
        <%= link_to 'Destroy', product, method: :delete, data: {confirm: 'Are you sure?'} %>
      </td>
    </tr>
  <% end %>
</table>
