<div class="breadcrumb">
  <div class="wrap">
    <div class="container">
      <a href="/"><%= t(:label_site_home) %></a><span>/</span><a href="/admin"><%= t(:label_site_admin) %></a><span>/</span><a href="/admin/catalogs"><%= t(:label_admin_catalog) %></a><span>/</span><%= @catalog.name %>
    </div>
  </div>
</div>
<div class="wrap">
  <div class="container">
    <section>
      <div class="row">
        <p id="notice"><%= notice %></p>

        <%= button_to t(:label_admin_edit), edit_catalog_path(@catalog), {class: "btn send_btn", :method => :get} %>

        <p>
          <b><%= t(:label_admin_name) %>:</b>
          <%= @catalog.name %>
        </p>

        <%= render :partial => 'product_index', :locals => {:catalog => @catalog } %>

      </div>
    </section>
  </div>
</div>