<div class="breadcrumb">
  <div class="wrap">
    <div class="container">
      <a href="/"><%= t(:label_site_home) %></a><span>/</span><%= t(:label_site_admin) %>
    </div>
  </div>
</div>
<div class="wrap">
  <div class="container">
    <section>
      <div class="row">
        <div class="span4">
          <h2 class="title"><span><a href="/admin/banner_imgs"><%= t(:label_admin_banner) %></span></h2>
          <h2 class="title"><span><a href="/admin/catalogs"><%= t(:label_admin_catalog) %></span></h2>
          <h2 class="title"><span><a href="/admin/products"><%= t(:label_admin_product) %></span></h2>
          <h2 class="title"><span><a href="/admin/images"><%= t(:label_admin_image) %></span></h2>
          <h2 class="title"><span><a href="/admin/tnews"><%= t(:label_admin_tnews) %></span></h2>
        </div>
      </div>
    </section>
  </div>
</div>
