<%= form_for(@tnews) do |f| %>
    <% if @tnews.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@tnews.errors.count, "error") %> prohibited this tnews from being saved:</h2>

          <ul>
            <% @tnews.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label t(:label_admin_title) %>
      <%= f.text_field :title %>
    </div>
    <div class="field">
      <%= f.label t(:label_admin_isshowindex) %>
      <%= f.check_box :isshowindex %>
    </div>
    <div class="field">
      <%= f.label t(:label_admin_content) %>
      <%= f.text_area :content %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
