<p id="notice"><%= notice %></p>

<p>
  <b>Index:</b>
  <%= @banner_img.index %>
</p>

<p>
  <b>Image:</b>
  <img src="<%= @banner_img.path %>"/>
</p>


<%= link_to 'Edit', edit_banner_img_path(@banner_img) %> |
<%= link_to 'Back', banner_imgs_path %>
