<div class="breadcrumb">
  <div class="wrap">
    <div class="container">
      <a href="/"><%= t(:label_site_home) %></a><span>/</span><a href="/admin"><%= t(:label_site_admin) %></a><span>/</span><a href="/admin/banner_imgs"><%= t(:label_admin_banner) %></a><span>/</span><%= t(:label_admin_addbanner) %>
    </div>
  </div>
</div>
<div class="wrap">
  <div class="container">
    <section>
      <div class="row">
        <p id="notice"><%= notice %></p>

        <%= button_to t(:label_product_back), banner_imgs_path, {class: "btn dark_btn", :method => :get} %>

        <p>
          <img src="<%= @banner_img.path %>"/>
        </p>

      </div>
    </section>
  </div>
</div>

