<div class="breadcrumb">
  <div class="wrap">
    <div class="container">
      <a href="/"><%= t(:label_site_home) %></a><span>/</span><%= t(:label_site_product) %>
    </div>
  </div>
</div>
<!--MAIN CONTENT AREA-->
<div class="wrap">
  <div class="container inner_content">
    <div id="options">
      <ul id="filters" class="option-set" data-option-key="filter">
        <li><a href="#filter" data-option-value="*" class="btn dark_btn
          <% if @cat_id == nil %>selected
          <% end %>"><%= t(:label_product_all) %></a></li>
        <% @catalogs.each do |catalog| %>
            <li><a href="#filter" data-option-value=".<%= catalog.nindex %>" class="btn dark_btn
            <% if @cat_id == catalog.nindex %>selected
            <% end %>"><%= catalog.name %></a></li>
        <% end %>
      </ul>
      <div class="clear"></div>
    </div>
    <div class="row">
      <!-- portfolio_block -->
      <div class="projects">
        <% @products.each do |product| %>
            <div class="span4 element <%= product.catalog.nindex %>" data-category="<%= product.catalog.nindex %>">
              <div class="hover_img">
                <% if product.images.count != 0 %>
                    <img src="<%= product.images.first().path %>" alt=""/>
                    <span class="portfolio_zoom"><a href="<%= product.images.first().path %>" rel="prettyPhoto[portfolio1]"></a></span>
                <% else %>
                    <img src="/images/preload_img.gif" alt=""/>
                <% end %>
                <span class="portfolio_link"><a href="/products/<%= product.id %>">View item</a></span>
              </div>
              <div class="item_description">
                <h6><a href="/products/<%= product.id %>"><%= product.name %></a></h6>

                <div class="descr"><%= product.shortdesc %></div>
              </div>
            </div>
        <% end %>
        <div class="clear"></div>
      </div>
      <!-- //portfolio_block -->
    </div>
  </div>
</div>
<!--//MAIN CONTENT AREA-->
