<p id="notice"><%= notice %></p>

<p>
  <b>Product:</b>
  <%= @image.product_id %>
</p>

<p>
  <b>Index:</b>
  <%= @image.index %>
</p>

<p>
  <b>Image:</b>
  <%= image_tag(@image.path) %>
</p>


<%= link_to 'Edit', edit_admin_image_path(@image) %> |
<%= link_to 'Back', admin_images_path %>
