<script type="text/javascript" src="http://api.map.baidu.com/api?v=1.5&ak=GnVG65MGgpzAp3gNPABWNSC1"></script>
<div class="breadcrumb">
  <div class="wrap">
    <div class="container">
      <a href="/"><%= t(:label_site_home) %></a><span>/</span><%= t(:label_site_contacts) %>
    </div>
  </div>
</div>
<div class="wrap">
  <div class="container">
    <section>
      <div class="row">
        <div class="span4">
          <h2 class="title"><span><%= t(:label_contact_info) %></span></h2>
          <div id="map" style="height: 270px"></div>
          <script type="text/javascript">
              var map = new BMap.Map("map");          // 创建地图实例
              var point = new BMap.Point(120.143988, 30.293841);  // 创建点坐标
              map.centerAndZoom(point, 15);                 // 初始化地图，设置中心点坐标和地图级别
          </script>
          <p>3896 Kenwood Place<br/>Fort Lauderdale, FL 33301</p>
          <p>Phone: 1-500-677-5694<br/>Fax: 1-500-256-2768<br/>Email: <a href="mailto:#">info@yoursitename.com</a><br/>Web: <a href="#">http://yoursitename.com</a></p>
        </div>
        <div class="span8">
          <h2 class="title"><span><%= t(:label_contact_putmsg) %></span></h2>
          <div class="contact_form">
            <div id="note"></div>
            <div id="fields">
              <form id="ajax-contact-form" action="/admin/messages" method="post">
                <input class="span7" type="text" name="name" value="" placeholder="<%= t(:label_contact_msgname) %>" />
                <input class="span7" type="text" name="email" value="" placeholder="<%= t(:label_contact_msgemail) %>" />
                <textarea name="msg" id="msg" class="span8" placeholder="<%= t(:label_contact_msgmsg) %>"></textarea>
                <div class="clear"></div>
                <input type="reset" class="btn dark_btn" value="<%= t(:label_site_clear) %>" />
                <input type="submit" class="btn send_btn" value="<%= t(:label_site_submit) %>" />
                <div class="clear"></div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>