<table class="table table-bordered">
  <tr>
    <th><%= t(:label_site_product) %></th>
    <th><%= t(:label_admin_imagetype) %></th>
    <th><%= t(:label_admin_quickview) %></th>
    <th><%= t(:label_admin_operation) %></th>
  </tr>

  <% product.images.each do |image| %>
      <tr>
        <td><%= image.product.name %></td>
        <td>
          <% if image.imagetype == '1' %>
              <%= t(:label_admin_indexpic) %>
          <% else %>
              <%= t(:label_admin_productpic) %>
          <% end %>
        <td>
          <% if (image.path != nil) && (image.path.to_s != 'path') %>
              <%= image_tag(image.path) %>
          <% end %>
        </td>
        <td>
          <%= link_to t(:label_admin_show), image %>
          <%= link_to t(:label_admin_edit), edit_image_path(image) %>
          <%= link_to t(:label_admin_delete), image, method: :delete, data: {confirm: 'Are you sure?'} %>
        </td>
      </tr>
  <% end %>
</table>
