<div class="breadcrumb">
  <div class="wrap">
    <div class="container">
      <a href="/"><%= t(:label_site_home) %></a><span>/</span><a href="/admin"><%= t(:label_site_admin) %></a><span>/</span><%= t(:label_admin_product) %>
    </div>
  </div>
</div>
<div class="wrap">
  <div class="container">
    <section>
      <div class="row">

        <%= button_to t(:label_admin_addproduct), new_product_path, {class: "btn send_btn", :method => :get} %>
        <table class="table table-bordered">
          <tr>
            <th style="width: 80px"><%= t(:label_admin_name) %></th>
            <th style="width: 80px"><%= t(:label_site_catalog) %></th>
            <th><%= t(:label_admin_shortdesc) %></th>
            <th><%= t(:label_admin_picnum) %></th>
            <th><%= t(:label_admin_isshowindex) %></th>
            <th><%= t(:label_admin_operation) %></th>
          </tr>

          <% @products.each do |product| %>
              <tr>
                <td><%= product.name %></td>
                <td><%= product.catalog.name %></td>
                <td><%= product.shortdesc %></td>
                <td><%= product.images.count %></td>
                <td>
                  <% if product.isshowindex %>
                      <%= t(:label_admin_display) %>
                  <% else %>
                      <%= t(:label_admin_hide) %>
                  <% end %>
                  <%= link_to t(:label_admin_change), :controller => 'products', :action => 'changeshowindex', id: product %>
                </td>
                <td>
                  <%= link_to t(:label_admin_show), product %>
                  <%= link_to t(:label_admin_edit), edit_product_path(product) %>
                  <%= link_to t(:label_admin_delete), product, method: :delete, data: {confirm: 'Are you sure?'} %>
                </td>
              </tr>
          <% end %>
        </table>

      </div>
    </section>
  </div>
</div>