<div class="breadcrumb">
  <div class="wrap">
    <div class="container">
      <a href="/"><%= t(:label_site_home) %></a><span>/</span><a href="/admin"><%= t(:label_site_admin) %></a><span>/</span><a href="/admin/products"><%= t(:label_admin_product) %></a><span>/</span><%= @product.name %>
    </div>
  </div>
</div>
<div class="wrap">
  <div class="container">
    <section>
      <div class="row">
        <p id="notice"><%= notice %></p>

        <p>
          <a href="/admin/products/<%= @product.id %>/edit"><input class="btn send_btn" type="button" value="<%= t(:label_admin_edit) %>"></a>
          <a href="/admin/products"><input class="btn dark_btn" type="button" value="<%= t(:label_product_back) %>"></a>
        </p>

        <p>
          <b><%= t(:label_admin_name) %>:</b>
          <%= @product.name %>
        </p>

        <p>
          <b><%= t(:label_site_catalog) %>:</b>
          <%= @product.catalog.name %>
        </p>

        <p>
          <b><%= t(:label_admin_shortdesc) %>:</b>
          <%= @product.shortdesc %>
        </p>

        <p>
          <b><%= t(:label_admin_desc) %>:</b>
          <%= @product.desc %>
        </p>
        <p>
          <b><%= t(:label_admin_indexpic) %>:</b>
          <%= image_tag(@product.homepic) %>
        </p>
        <p>
          <b><%= t(:label_admin_intro) %>:</b>
          <%= @product.introduce %>
        </p>

        <%= render :partial => 'image_index', :locals => {:product => @product} %>

      </div>
    </section>
  </div>
</div>