<div class="breadcrumb">
  <div class="wrap">
    <div class="container">
      <a href="/"><%= t(:label_site_home) %></a><span>/</span><a href="/admin"><%= t(:label_site_admin) %></a><span>/</span><%= t(:label_admin_image) %>
    </div>
  </div>
</div>
<div class="wrap">
  <div class="container">
    <section>
      <div class="row">
        <%= button_to t(:label_admin_addimage), new_image_path, {class: "btn send_btn", :method => :get} %>
        <table class="table table-bordered">
          <tr>
            <th><%= t(:label_site_product) %></th>
            <th><%= t(:label_admin_quickview) %></th>
            <th><%= t(:label_admin_operation) %></th>
          </tr>

          <% @images.each do |image| %>
              <tr>
                <td><%= image.product.name %></td>
                <td>
                  <% if (image.path != nil) && (image.path.to_s != 'path') %>
                      <%= image_tag(image.path) %>
                  <% end %>
                </td>
                <td>
                  <%= link_to t(:label_admin_show), image %>
                  <%= link_to t(:label_admin_edit), edit_image_path(image) %>
                  <%= link_to t(:label_admin_delete), image, method: :delete, data: {confirm: 'Are you sure?'} %>
                </td>
              </tr>
          <% end %>
        </table>

      </div>
    </section>
  </div>
</div>

